@import '../index.scss';

.peopleanswer__item {
  font-family: $IBM-font;
  text-align: center;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 94px;
    color: #ffffff;
  }
  p {
    font-style: italic;
    font-weight: 300;
    padding: 10px 150px;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
  }
}
