@import '../index.scss';

.answer {
  display: flex;
}

.answer__image {
  width: 493px;
  height: 641px;
  display: grid;
  align-content: center;
  img {
    width: 100%;
  }
}

.answer__content {
  margin-left: 87px;
  font-family: $IBM-font;
  color: #000000;
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    max-width: 750px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    max-width: 750px;
  }
}
