.checkbox {
  display: flex;
}

.checkbox__input {
  input {
    opacity: 0;
    margin-right: 18px;
    width: 1em;
    height: 1em;
  }
}

.checkbox__control {
  margin-top: 5px;
  display: inline-grid;
  width: 20px;
  height: 22px;
  border: 5px solid #000000;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }
}

.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

:root {
  --disabled: #959495;
}

.checkbox__input input:checkbox:disabled + .checkbox__control {
  color: var(--disabled);
}

.checkbox--disabled {
  color: var(--disabled);
}

.radio__label {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.radioButton {
  border-radius: 100%;
}

input:checked + .radioButton {
  transform: scale(1);
  background-color: #058c7c;
}
