@import "../index.scss";

.home {
  height: 100vh;
  background-color: $green-color;
  text-align: center;
}

.home__title {
  padding: 15px;
  font-family: $IBM-font;
  color: white;
  .home__title__day {
    margin: 0%;
  }
  .home__title__date {
    font-weight: normal;
  }
}
