@import "../index.scss";

.realanswer {
  font-family: $IBM-font;
  height: 100vh;
  background: #058c7c;
}

.realanswer__content {
  height: 100vh;
  background: #ffbb70;
  border-radius: 0px 323px 0px 0px;
}

.realanswer__more {
  width: 100%;
  position: absolute;
  top: 78%;
  p {
    font-size: 35px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #058c7c;
  }
  .realanswer__more--action {
    text-align: center;
    margin-bottom: 50px;
  }
}
