.video__title {
  margin-top: 46px;
}

.video__player {
  background-color: black;
  border-radius: 48px;
  margin: 55px 0 62px 0;
}

.video__rails {
  position: relative;
  top: 55px;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
